.wy-side-nav-search {
    background-color: #c00;
}

a, a:visited {
    color: #c00;
    text-decoration: none;
}

a:hover,
a:focus {
    color: maroon;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.wy-menu-vertical a,
.wy-menu-vertical a:hover,
.wy-menu-vertical a:focus {
    color: #d9d9d9;
}

.wy-side-nav-search>a:visited,
.wy-side-nav-search .wy-dropdown>a:visited {
    color: #fcfcfc;
}