/*#byu_sg_input_container {
	background-color: #e2e2e2;
	border: 1px solid #e2e2f0;
}*/

#byu_sg_input_container tr {
	border: 4px solid yellow;
}

#byu_sg_jobnotes {
	margin-top: 10px;
	margin-bottom: 1px;
	background-color: #e2e252;
	display: block;
}

#byu_sg_jobscript {
	/*background-color: #e2e2e2;*/
	background-color: #eee;
}

#byu_sg_input_container input {
	display:inline-block;
}

#byu_sg_input_acceptable_gpus span {
	display:inline-block;
	border: 1px solid #808080;
	background-color: #eee;
}

/* Nodes avail, etc. boxes */
#byu_sg_input_acceptable_gpus span > span > span {
	display:block;
	border: 0px;
	width: 13em;
	/*background-color: #e0e;*/
}

.byu_sg_input_acceptable_gpu_class {
	padding: 5px;
	background-color: #eee;
}

#byu_sg_input_partitions span {
	display:inline-block;
	border: 1px solid #808080;
}

/* Nodes avail, etc. boxes */
#byu_sg_input_partitions span > span > span {
	display:block;
	border: 0px;
	/*background-color: #e0e;*/
}


.byu_sg_input_acceptable_gpu_container {
	display: inline;
	padding: 5px;
	background-color: #eee;
}

.byu_sg_input_acceptable_gpu_name {
	display: inline;
	font-weight: bold;
}

.byu_sg_input_partition_container {
	display: inline;
	padding: 5px;
	background-color: #eee;
}

.byu_sg_input_partition_name {
	display: inline;
	font-weight: bold;
}